<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fields</key>
	<dict>
		<key>All Fields</key>
		<string>[ALL]</string>
		<key>Title+Abstract</key>
		<string>[TIAB]</string>
	</dict>
	<key>order</key>
	<array>
		<string>All Fields</string>
		<string>SPACER</string>
		<string>Title+Abstract</string>
	</array>
</dict>
</plist>
